.root {
  display: flex;
  justify-content: center;
  column-gap: 10px;

  li {
    a {
      color: #fe5f1e;
      padding: 10px;
      border: 1px solid #fe5f1e;
      border-radius: 30px;
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }
}
